---
layout: null
permalink: /assets/data/events.json
---

[
{% for event in site.events %}

{% if event.type == "recurring" %}

{
  "title": {{ event.title | jsonify }},
  "daysOfWeek": {{ event.daysOfWeek | jsonify }},
  "startTime": "{{ event.startTime }}",
  "startRecur": "{{ event.startRecur }}",
  "endRecur": "{{ event.endRecur }}",

  "extendedProps": {
    "exclude": {{ event.exclude | jsonify }}
  },

  "description": {{ event.description | jsonify }},
  "location": {{ event.location | jsonify }},
  "backgroundColor": "#2e8b57",
  "borderColor": "#2e8b57"
}

{% else %}

{% assign now = site.time | date: "%s" %}
{% assign eventtime = event.date | date: "%s" %}

{
  "title": {{ event.title | jsonify }},
  "start": "{{ event.date | date_to_xmlschema }}",
  "url": "{{ event.url }}",
  "description": {{ event.description | jsonify }},
  "location": {{ event.location | jsonify }},
  "image": {{ event.image | jsonify }},
  "category": {{ event.category | jsonify }},
  "isPast": {% if eventtime < now %}true{% else %}false{% endif %},
  "backgroundColor": "{{ color }}",
  "borderColor": "{{ color }}"
}

{% endif %}

{% unless forloop.last %},{% endunless %}

{% endfor %}
]