---
layout: null
permalink: /assets/data/events.json
---

[
{% for event in site.events %}

{% assign color = "#2e8b57" %}

{% if event.category == "Training" %}
  {% assign color = "#1e90ff" %}
{% endif %}

{% if event.category == "Rennen" %}
  {% assign color = "#dc143c" %}
{% endif %}

{% if event.category == "Jugend" %}
  {% assign color = "#f4b400" %}
{% endif %}

{% if event.category == "Stammtisch" %}
  {% assign color = "#ff8c00" %}
{% endif %}

{% assign now = site.time | date: "%s" %}
{% assign eventtime = event.date | date: "%s" %}

{
  "title": {{ event.title | jsonify }},
  "start": "{{ event.date | date_to_xmlschema }}",
  "url": "{{ event.url }}",
  "description": {{ event.description | jsonify }},
  "location": {{ event.location | jsonify }},
  "image": {{ event.image | jsonify }},
  "category": {{ event.category | jsonify }},
  "isPast": {% if eventtime < now %}true{% else %}false{% endif %},
  "backgroundColor": "{{ color }}",
  "borderColor": "{{ color }}"
}
{% unless forloop.last %},{% endunless %}

{% endfor %}
]