<section class="sidebar-block">

  <h3>After-Work Tour</h3>

  <p>
    <strong>Treffpunkt:</strong><br>
    Brüninghausplatz (vor dem alten WK)
  </p>

  <p>
    Dienstags 18:00 Uhr
    </p>

</section>

<section class="sidebar-block">

  <h3>Downloads</h3>

  <p class="sidebar-links">

    <a
      href="https://www.tusjahnwerdohl.de/files/Satzung_2013.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Satzung
    </a>

    <br>

    <a
      href="https://www.tusjahnwerdohl.de/files/DSGVO_Aufnahmeantrag-TuS-Jahn-ab-2025.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Mitgliedsantrag
    </a>

  </p>

</section>

<section class="sidebar-block">

  <h3>Du möchtest mitfahren?</h3>


{% include cta-button.html
  href=site.data.social.whatsapp.url
  label="JETZT ANFRAGEN (WhatsApp)"
  external=true
%}

</section>

<button id="enable-push" class="push-button">
  🔔 Push-Mitteilungen aktivieren
</button>