<section class="sidebar-block">

  <h3>Trainingszeiten</h3>

  <p>
    <strong>Treffpunkt:</strong><br>
    Brüninghausplatz (vor dem alten WK)
  </p>

  <p>
    Dienstags 18:00 Uhr
    </p>

</section>

<section class="sidebar-block">

  <h3>Downloads</h3>

  <p class="sidebar-links">

    <a
      href="https://www.tusjahnwerdohl.de/files/Satzung_2013.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Satzung
    </a>

    <br>

    <a
      href="https://www.tusjahnwerdohl.de/files/DSGVO_Aufnahmeantrag-TuS-Jahn-ab-2025.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Mitgliedsantrag
    </a>

  </p>

</section>

<section class="sidebar-block">

  <h3>Du möchtest mitfahren?</h3>

  <a
    class="cta-btn"
    href="https://wa.me/491608226897?text=Hallo%2C%20ich%20w%C3%BCrde%20gern%20mal%20bei%20euch%20mitfahren."
    rel="noopener noreferrer"
  >
    JETZT ANFRAGEN (WhatsApp)
  </a>

</section>

<button id="enable-push" class="push-button">
  🔔 Push-Mitteilungen aktivieren
</button>