---
layout: default
---

<div class="event-page">

<div class="event-meta">

  <h1>
    📅 {{ page.date | date: "%d.%m.%Y" }}
  </h1>

  <p class="event-time">
    🕒 {{ page.date | date: "%H:%M" }} Uhr
  </p>

  {% if page.location %}
  <p>
    📍 {{ page.location }}
  </p>
  {% endif %}

</div>

  {% if page.image %}
  <img class="event-image" src="{{ page.image }}">
  {% endif %}

{% if page.komoot or page.gpx %}

<div class="event-links">

  {% if page.komoot and page.komoot != blank %}
  <a href="{{ page.komoot }}"
     target="_blank"
     class="event-button">
     🚵 Komoot
  </a>
  {% endif %}

  {% if page.gpx and page.gpx != blank %}
  <a href="{{ page.gpx }}"
     target="_blank"
     class="event-button">
     ⬇ GPX Download
  </a>
  {% endif %}

</div>

{% endif %}

  <div class="event-content">
    {{ content }}
  </div>

</div>